{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-6">
            <button onClick="window.history.back();" class="btn btn-warning" type="button">Retour</button>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>Voici le contenu de votre panier</h2>
    </div>
    <br>
    <div class="row">
     
        {% set total = 0 %}

       {% for item in cart %}
       <div class="card" style="width: 18rem;">
               <img class="rounded mx-auto d-block" src="../images/{{item.product.image}}" style="max-width: 40%" alt="">
           <div class="card-body">
               <h5 class="card-title">{{item.quantity}} x {{item.product.name}} </h5>
               <p class="card-text"> {{item.product.price / 100 }} € unitaire </p>
               <p class="card-text" style="text-align: center; color: blue; font-weight: bold;">
                   Sous-total : {% set sousTotal = item.quantity * item.product.price  / 100 %} {{ sousTotal ~ '€'}}
               </p>
               {% set total = total + sousTotal %}
           </div>
       </div>
       {% endfor %}
       

    </div>
    <br>
    <div class="row">
        <p style="color: red; font-size: 1.3em"> Total panier : {{ total ~ '€'}}</p> <br>
    </div>
    <button class="btn btn-primary"><a href="#" style="color: black;">Commander</a></button>
    <div class="row"></div>

</div>
{% endblock %}