{% extends 'base.html.twig' %}

{% block title %}Hello, voici tous nos users !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <button onClick="window.history.back();" class="btn btn-warning" type="button">Retour</button>
        </div>
    </div>
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col-6">
            <p><a href="{{path('ajoutUser')}}">Ajouter un User</a></p>
        </div>
        {% endif %}
    </div>
    <h2>Utilisateurs</h2>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Email</th>

            {# 
            <th>Editer</th> #}
            <th>Supprimer user</th>

            {% for user in users %}
        <tr>
            <td> {{user.id}}</td>
            <td> {{user.email}}</td>


            {# <td><a href="{{path('editUser', {'id':user.id})}}">Editer User</a></td> #}
            <td><a href="{{path('deleteUser', {'id':user.id})}}"><button type="button"
                        class="btn btn-danger">X</button></a></td>


        </tr>
        <br />
        {% endfor %}
        </tr>
    </table>

</div>
{% endblock %}