{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <button onClick="window.history.back();" class="btn btn-warning" type="button">Retour</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p><a href="{{path('produits')}}">Voir nos produits</a></p>
        </div>
        {% if (app.user and app.user.email == 'admin@admin.com') %}
        <div class="col-6">
            <p><a href="{{path('ajoutCategorie')}}">Créer une catégorie</a></p>
        </div>
        <br>
        {% endif %}
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                {% if is_granted('ROLE_STAFF') %}
                <th>Catégorie</th>
                <th>Editer</th>
                <th>Effacer</th>

                <th>Tous les produits</th>
                {% endif %}
                {% for category in listeCategory %}
            <tr>
                <td> {{category.name}}</td>
                <td> {{category.description}}</td>
                {% if is_granted('ROLE_STAFF') %}

                <td> {{category.slug}}</td>

                <td><a href="{{path('admin_editCategorie', {'id':category.id})}}"><img style="width: 18%;"
                            src="https://static.thenounproject.com/png/3082134-200.png" alt=""></a></td>
                <td><a href="{{path('admin_deleteCategorie', {'id':category.id})}}"><img style="width: 9%;" src="https://icon-library.com/images/delete-icon-image/delete-icon-image-15.jpg" alt=""></a></td>

                <td>Voir tous les produits de <a
                        href="{{path('admin_showAllProducts', {'id':category.id})}}">{{category.name}}</a></td>
                {% endif %}

            </tr>
            <br />
            {% endfor %}

            </tr>
        </table>
    </div>
</div>
{% endblock %}