{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h2>Dans notre belle boutique, nous avons : </h2> <br>
      </div>
   </div>

   <div class="row">
      {% for item in products %}
      <div class="col-4" style="border:1px solid red">
         <p>{{item.name}} ({{item.price}}€)</p>

         <img class="rounded mx-auto d-block" src="images/{{ item.image }}" style="max-width: 40%" alt="{{item.name}}">

         <a class="btn btn-success" href="{{path('detailProduit', {'id':item.id, 'slug':item.slug}) }}">Détails</a>
            <a class="btn btn-primary"
            href="{{path('addToCart', {'id':item.id}) }}">Ajouter au panier</a>
         
      </div>
      {% endfor %}
   </div>
</div>

{% endblock %}