{% extends 'base.html.twig' %}

{% block title %}Hello, voici tous nos users !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <button onClick="window.history.back();" class="btn btn-warning" type="button">Retour</button>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col-6">
            <button class="btn btn-success" type="button"> <a href="{{path('ajoutUser')}}">Ajouter un User</a> </button>
        </div>
        {% endif %}
    </div>
    <div class="row" style="padding-top: 15px;">
        <h2>Utilisateurs</h2>
        <table class="table"s>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Rôle</th>
                <th style="text-align: center;">Editer</th>
                <th style="text-align: center;">Supprimer user</th>

                {% for user in users %}


            <tr>
                <td> {{user.id}}</td>
                <td>Ano Nymous</td>
                <td> {{user.email}}</td>
                {% if 'ROLE_ADMIN' in user.roles  %}
                    <td>Admin</td>
                {% elseif 'ROLE_STAFF' in user.roles %}
                    <td>Staff</td>
                {% else %}
                    <td>User</td>
                {% endif %} 
                <td style="text-align: center;"><a href="{{path('editUser', {'id':user.id})}}"><img style="width: 15%;"
                            src="https://static.thenounproject.com/png/3082134-200.png" alt=""></a></td>
                <td style="text-align: center;"><a href="{{path('deleteUser', {'id':user.id})}}"><img style="width: 6%;"
                    src="https://icon-library.com/images/delete-icon-image/delete-icon-image-15.jpg" alt=""></a></td>
            </tr>
            <br />
            {% endfor %}
            </tr>
        </table>
    </div>


</div>
{% endblock %}